// colors
$color1: #333333;
$color2: #31A5E7;
$color3: #00B9AC;
$grey: #979797;
$color3hover: #03E3D4;
$color4: #EB4A86;

// fonts
$Gilroy: 'Gilroy', sans-serif;

// grid and responsive
$max-width: 1220px;