footer {
  border-top: 2px solid #E5E5E5;
}
.footer {
  width: 100%;
  display: grid;
  padding: 40px 0 60px;
  grid-template-areas:
    'logo . arms'
    'cont soc arms'
    'c c c';
  @include r(995px) {
    grid-template-areas:
      'logo arms'
      'cont arms'
      'soc arms'
      'c c';
  }
  @include r(995px) {
    grid-template-columns: 1fr 1fr;
  }
  @include r(660px) {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    grid-template-areas:
      'logo'
      'cont'
      'soc'
      'btn'
      'arms'
      'c';
  }
  &__logo {
    grid-area: logo;
    margin-bottom: 30px;
  }
  &__soc {
    grid-area: soc;
    display: grid;
    grid-template-columns: repeat(2, 46px);
    margin-bottom: 25px;
    grid-gap: 15px;
    align-items: end;
    @include r(660px) {
      justify-content: center;
    }
    a {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid #E5E5E5;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
      svg, path {
        transition: .2s;
      }
      &:hover {
        border-color: $color3;
        svg, path {
          fill: $color3;
        }
      }
    }
  }
  &__cont {
    grid-area: cont;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @include r(660px) {
      justify-content: center;
      display: block;
    }
    a {
      font-size: 18px;
      svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: #00B9AC;
      }
      &:last-of-type {
        margin-left: 20px;
        @include r(750px) {
          margin-left: 0px;
        }
        @include r(660px) {
          margin-left: 20px;
        }
        @include r(420px) {
          margin-left: 0px;
        }
      }
      @include r(750px) {
        width: 100%;
      }
      @include r(660px) {
        width: 50%;
      }
      @include r(420px) {
        width: 100%;
        display: block;
      }
    }
  }
  &__loc {
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    @include r(660px) {
      justify-content: center;
    }
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: #000000;
    }
    & svg {
      width: 18px;
      height: 24px;
      margin-right: 13px;
    }
  }
  &__arms {
    padding-left: 30px;
    margin-left: 70px;
    grid-area: arms;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    @include r(1150px) {
      padding-left: 0px;
      margin-left: 0px;
      max-width: 300px;
    }
    @include r(995px) {
      max-width: none;
      padding-left: 30px;
    }
    @include r(660px) {
      margin-top: 30px;
      padding-left: 0px;
    }
    &:before {
      content: '';
      width: 1px;
      background-color: #E5E5E5;
      position: absolute;
      left: 0;
      height: 100%;
      @include r(995px) {
        height: 100%;
      }
      @include r(660px) {
        content: none;
      }
    }
    img {
      flex-shrink: 0;
      width: 64px;
      height: 64px;
    }
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #000000;
      white-space: pre-wrap;
      text-align: start;
      @include r(1150px) {
        font-size: 15px;
      }
    }
    a {
      margin-top: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #000000;
      border-bottom: 2px solid $color3;
      width: fit-content;
      &:hover {
        color: $color3;
      }
    }
  }
  &__c {
    grid-area: c;
    padding-top: 20px;
    border-top: 1px solid #E5E5E5;
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-weight: normal;
      font-size: 12px;
      color: #979797;
    }
  }
}