.basket {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  transition: .5s ease;
  position: relative;
  &__item {
    display: flex;
    border: 1px solid #ecf2f4;
    transition: .5s ease;
    width: 100%;
    &:hover {
      box-shadow: 0 5px 20px 0 rgb(18 25 38 / 10%);
      border-color: transparent;
    }
  }
  &__descr {
    display: flex;
    grid-gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include r(500px) {
      padding: 10px;
    }
  }
  &__h {
    @include r(800px) {
      font-size: 20px;
    }
    @include r(700px) {
      font-size: 18px;
    }
    @include r(600px) {
      font-size: 16px;
    }
  }
  &__price {
    font-size: 20px;
    color: $color2;
    white-space: nowrap;
    @include r(700px) {
      font-size: 18px;
    }
    @include r(600px) {
      font-size: 16px;
    }
  }
  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 20px;
    cursor: pointer;
    transition: .2s;
    @include r(500px) {
      padding: 10px;
    }
    &:hover {
      font-size: 20px;
      color: $color4;
    }
  }
  &__total {
    transition: .5s ease;
    font-size: 20px;
    color: $color4;
    text-align: right;
    font-weight: bold;
    padding-right: 70px;
  }
  .btn {
    transition: .5s ease;
  }
}