.factsBlock {
  background: url('/img/bg1.webp');
  padding: 70px 20px 120px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  @include r(850px) {
    padding: 30px 0px 100px;
  }
  @include r(770px) {
    flex-direction: column;
    margin-bottom: 40px;
  }
  &__cont {
    display: grid;
    grid-gap: 0 70px;
    grid-template-areas:
      'one . three .'
      'one two three four'
      '. two . four';
    @include r(950px) {
      grid-gap: 0 40px;
    }
    @include r(850px) {
      grid-gap: 70px 100px;
      grid-template-areas:
        'one two'
        'three four';
    }
    @include r(700px) {
      grid-gap: 40px 60px;
    }
    @include r(550px) {
      grid-gap: 20px 30px;
    }
    @include r(500px) {
      grid-gap: 0px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'one .'
        '. two'
        'three .'
        '. four';
    }
  }
  &__item {
    &:nth-of-type(1) {
      grid-area: one;
    }
    &:nth-of-type(2) {
      grid-area: two;
      @include r(500px) {
        align-items: right;
      }
    }
    &:nth-of-type(3) {
      grid-area: three;
    }
    &:nth-of-type(4) {
      grid-area: four;
      @include r(500px) {
        align-items: right;
      }
    }
    span {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      color: #FFFFFF;
      margin-bottom: 10px;
      @include r(1200px) {
        font-size: 32px;
      }
      @include r(850px) {
        font-size: 48px;
      }
      @include r(650px) {
        font-size: 32px;
      }
    }
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #FFFFFF;
      @include r(1200px) {
        font-size: 16px;
      }
      @include r(850px) {
        font-size: 20px;
      }
      @include r(650px) {
        font-size: 16px;
      }
      @include r(500px) {
        font-size: 15px;
      }
    }
  }
}