.list {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  &__item {
    display: flex;
    border: 1px solid #ecf2f4;
    &:hover {
      box-shadow: 0 5px 20px 0 rgb(18 25 38 / 10%);
      border-color: transparent;
    }
    @include r(600px) {
      flex-direction: column;
    }
  }
  &__img {
    max-width: 230px;
    flex-shrink: 0;
    @include r(600px) {
      max-width: none;
    }
    img {
      object-fit: contain;
      object-position: center;
      height: 100%;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px;
    &--basket {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__date {
    color: $grey;
  }
  &__text {
    color: $color3;
  }
  &__price {
    font-size: 20px;
    color: $color2;
    white-space: nowrap;
  }
  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 20px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      font-size: 20px;
      color: $color4;
    }
  }
}