.main-banner {
  margin: 40px 0 85px;
  padding: 0 20px!important;
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
    }
    @include r(900px) {
      background-position: 65% 0;
    }
    @include r(650px) {
      display: flex;
      background-position: right;
      flex-direction: column-reverse;
      height: 400px!important;
      &:before {
        background: linear-gradient(0deg, #FFFFFF 27.58%, rgba(255, 255, 255, 0.75) 38.36%, rgba(255, 255, 255, 0) 71.29%);
      }
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: contain;
    object-position: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 85%;
    z-index: -10;
    @include r(900px) {
      background-position: right;
      object-position: right;
    }
    @include r(650px) {
      height: 290px;
      top: 0;
      object-position: center;
      background-position: center;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      right: 0;
      z-index: -2;
      object-fit: cover;
      object-position: center;
      @include r(900px) {
          object-position: 65% 0;
      }
      @include r(650px) {
          object-position: 75% 0;
      }
    }
  }
  &__text {
    padding: 70px 0 70px 100px;
    max-width: 640px;
    z-index: 2;
    height: 400px;
    @include r(1100px) {
      padding-left: 60px;
      max-width: 540px;
    }
    @include r(770px) {
      padding: 50px 0 50px 40px;
      max-width: 440px;
    }
    @include r(650px) {
      max-width: 100%;
      padding: 0 20px 30px 20px;
      height: auto;
      button {
        margin: 0 auto;
      }
    }
    h2 {
      color: #3D3D3D;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 30px;
      position: relative;
      line-height: 35px;
      @include r(770px) {
        font-size: 28px;
      }
      @include r(650px) {
        margin-bottom: 0px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color:#C4C4C4;
        bottom: -15px;
        @include r(650px) {
          content: none;
        }
      }
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #000000;
      @include r(770px) {
        font-size: 15px;
        max-width: 250px;
      }
      @include r(650px) {
        max-width: none;
      }
    }
    .arrow {
      position: relative;
      &:before {
        content: url(/img/arrow.webp);
        position: absolute;
        top: 5px;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        @include r(1140px) {
          content: none;
        }
      }
    }
  }
  &__price {
    margin: 25px 0 35px;
    display: flex;
    flex-direction: column;
    @include r(650px) {
      margin: 10px 0 20px;
    }
  }
  &__newPrice {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ED4C4E;
  }
  &__oldPrice {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    span {
      text-decoration: line-through;
      margin-left: 5px;
    }
  }
}