.note {
  background: rgba(0, 185, 172, 0.1);
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
  svg {
    margin-right: 10px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    a {
      color: #0060FF;
    }
  }
  &__phone {
    margin-left: auto;
    @include r(900px) {
      width: 100%;
      margin: 20px 0 0 35px;
    }
    a {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #33A59D;
      &:not(:last-child)::after {
        content: ';';
        margin-right: 10px;
      }
    }
  }
}