@font-face
  font-family: 'GolosTextWebDemiBold'
  src: url("../fonts/Golos/Golos-Text_DemiBold.woff2") format('woff2')
  src: url("../fonts/Golos/Golos-Text_DemiBold.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'GolosTextWebMedium'
  src: url("../fonts/Golos/Golos-Text_Medium.woff2") format('woff2')
  src: url("../fonts/Golos/Golos-Text_Medium.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'GolosTextWebRegular'
  src: url("../fonts/Golos/Golos-Text_Regular.woff2") format('woff2')
  src: url("../fonts/Golos/Golos-Text_Regular.woff") format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'BebasNeueRegular'
  src: url("../fonts/Bebas-Neue/BebasNeueRegular.woff2") format('woff2')
  src: url("../fonts/Bebas-Neue/BebasNeueRegular.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'BebasNeueBold'
  src: url("../fonts/Bebas-Neue/BebasNeueBold.woff2") format('woff2')
  src: url("../fonts/Bebas-Neue/BebasNeueBold.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'BebasNeueBook'
  src: url("../fonts/Bebas-Neue/BebasNeueBook.woff2") format('woff2')
  src: url("../fonts/Bebas-Neue/BebasNeueBook.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'BebasNeueLight'
  src: url("../fonts/Bebas-Neue/BebasNeueLight.woff2") format('woff2')
  src: url("../fonts/Bebas-Neue/BebasNeueLight.woff") format('woff')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'BebasNeueThin'
  src: url("../fonts/Bebas-Neue/BebasNeueThin.woff2") format('woff2')
  src: url("../fonts/Bebas-Neue/BebasNeueThin.woff") format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'ALSFinlandiaScript'
  src: url("../fonts/ALSFinlandiaScript/ALSFinlandiaScript.otf") format('opentype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'ALSFinlandiaScript'
  src: url("../fonts/ALSFinlandiaScript/ALSFinlandiaScript-Bold.otf") format('opentype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Ustroke-Regular'
  src: url("../fonts/Ustroke-Regular/Ustroke-Regular.ttf") format('truetype')
  font-weight: normal
  font-style: normal