// ***** FONTS *****
@mixin font($label)
  // ***** Desktop *****
  @if $label == 'h1'
    font-family: GolosTextWebDemiBold, serif
    font-size: 10*$u
    line-height: 15*$u

  @if $label == 'h2'
    font-family: GolosTextWebDemiBold, serif
    font-size: 6*$u
    line-height: 8.5*$u

  @if $label == 'h3'
    font-family: GolosTextWebDemiBold, serif
    font-size: 5*$u
    line-height: 7.5*$u

  @if $label == 'h1-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 20*$u
    line-height: 20*$u

  @if $label == 'h2-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 15*$u
    line-height: 15*$u

  @if $label == 'h3-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 12*$u
    line-height: 12*$u

  @if $label == 'h1-ustroke'
    font-family: Ustroke-Regular, serif
    font-size: 20*$u
    line-height: 20*$u

  @if $label == 'h2-ustroke'
    font-family: Ustroke-Regular, serif
    font-size: 15*$u
    line-height: 15*$u

  @if $label == 'h3-ustroke'
    font-family: Ustroke-Regular, serif
    font-size: 12*$u
    line-height: 12*$u

  @if $label == 'h3-bebas'
    font-family: BebasNeueBold, serif
    font-size: 5*$u
    line-height: 7.5*$u

  @if $label == 't18-demibold'
    font-family: GolosTextWebMedium, serif
    font-size: 4.5*$u
    line-height: 7*$u

  @if $label == 't18-regular'
    font-family: GolosTextWebRegular, serif
    font-size: 4.5*$u
    line-height: 7*$u

  @if $label == 't16-medium'
    font-family: GolosTextWebMedium, serif
    font-size: 4*$u
    line-height: 6.5*$u

  @if $label == 't16-regular'
    font-family: GolosTextWebRegular, serif
    font-size: 4*$u
    line-height: 6*$u

  @if $label == 't16-demibold'
    font-family: GolosTextWebDemiBold, serif
    font-size: 4*$u
    line-height: 6*$u

  @if $label == 't15-regular'
    font-family: GolosTextWebRegular, serif
    font-size: 3.75*$u
    line-height: 5*$u

  @if $label == 't14-regular'
    font-family: GolosTextWebRegular, serif
    font-size: 3.5*$u
    line-height: 5*$u

  @if $label == 't18-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 13*$u
    line-height: 13*$u

  @if $label == 't16-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 10*$u
    line-height: 10*$u

  @if $label == 't14-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 8*$u
    line-height: 8*$u

  @if $label == 't12-finland'
    font-family: ALSFinlandiaScript, serif
    font-size: 6*$u
    line-height: 6*$u

// ***** Heading *****
@mixin heading
  margin-bottom: 10*$u
  text-transform: uppercase
  color: $firstColor
  text-align: center
  @include font('h1')
  @media screen and (max-width: $padWidth)
    @include font('h2')
  @media screen and (max-width: $mobileWidth)
    @include font('h3')

@mixin heading-ustroke
  margin-bottom: 0
  text-transform: uppercase
  color: $firstColor
  text-align: center
  @include font('h1-ustroke')
  @media screen and (max-width: $padWidth)
    @include font('h2-ustroke')
  @media screen and (max-width: $mobileWidth)
    @include font('h3-ustroke')

@mixin heading-finland
  margin-bottom: 0
  text-transform: none
  color: $firstColor
  text-align: center
  @include font('h1-finland')
  @media screen and (max-width: $padWidth)
    @include font('h2-finland')
  @media screen and (max-width: $mobileWidth)
    @include font('h3-finland')

// ***** SCROLLBAR *****
@mixin custom-scrollbar($thumb-color: $white, $track-color: $track, $width: 3*$u)
  scrollbar-width: thin
  scrollbar-color: $thumb-color $track-color

  &::-webkit-scrollbar
    width: $width
    height: $width

  &::-webkit-scrollbar-button
    display: none

  &::-webkit-scrollbar-track
    background-color: $track-color

  &::-webkit-scrollbar-thumb
    background-color: $thumb-color
    opacity: .5
    transition: opacity .3s ease

  &::-webkit-scrollbar-thumb:hover
    opacity: 1